.css-animation, .css-animation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.css-animation span {
    display: inline-block
}

.fade-in-bottom {
    animation-name: fade-in-bottom
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1
    }
}

.enlarge-on-hover {
    transition: transform 0.15s ease-in-out;
}

.enlarge-on-hover:hover {
    transform: scale(1.05);
}


