svg {
    width: 40em;
    max-width: 100%;
}

@media (max-width: 768px) {
    svg {
        max-width: 20em;
    }
}


.st2 {
    fill: none;
    stroke: pink;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation-name: draw;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
    
.st3 {
    fill: none;
    stroke: pink;
    stroke-width: 0.35;
    stroke-miterlimit: 10;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation-name: draw;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.st4 {
    fill: none;
    stroke: pink;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation-name: draw;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.st5 {
    fill: none;
    stroke: white;
    stroke-width: 0.35;
    stroke-miterlimit: 10;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation-name: draw;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}