nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-left:10%;
    padding-right:10%;
}

nav ul li{
    list-style-type:none;
    display:inline-block;
    padding:10px 20px;  
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-family:'Roboto';
    font-weight:bold;  
}

nav ul li a:hover{
    color:pink;
    transition:.3s;
}

.underline{
    display:inline-block;
    position:relative;
    padding-bottom:0.25rem;
}

.underline::before{
    content:"";
    position:absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: pink;
    transition: width 0.25s ease-out;
}

.underline:hover::before{
    width: 100%;
}

body{
    background-image:radial-gradient(black, #090909,#1A1A1A);   
}

h3{
    color:black;
    font-family:'Roboto';
}

h1, h2{
    color:pink;
    text-decoration:none;
    font-family:'Roboto';
    font-weight:bold; 
}

p{
    color:black;
    text-decoration:none;
    font-family:'Roboto';
}  

section{
    display:flex;
    flex-direction:row;
    align-items:center;
    align-content:space-evenly;
    margin:20px;
    max-height:80%;
}

section .leftBox{
    width:50%;
    height:100%;
}

section .leftBox img{
    width:80%;
    border-radius:20px;
    padding:10px;
}

section .leftBox .content{
    position:absolute;
    top: 18%;
    left: 3%;
    z-index:50;
    background-color:#090909;
    line-height:10px;
    opacity:0.75;
    padding:10px;
    transition:.5s;
}

section .leftBox .content:hover{
    background-color:pink;
    -webkit-text-fill-color: #090909;
}

section .events{
    position: relative;
    width: 50%;
    background:rgba(0,0,0,0.5);
    box-sizing:border-box;
}

section .events ul{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    margin: 0;
    padding: 10px;
    box-sizing:border-box;
}

section .events ul li{
    list-style:none;
    background:#fff;
    box-sizing:border-box;
    height: 110px;
}

section .events ul li .time{
    position: relative;
    padding: 10px;
    background:#262626;
    box-sizing:border-box;
    width:30%;
    height:100%;
    float:left;
    text-align:center;
    transition:.5s;
}

section .events ul li:hover .time{
    background-color:pink;
    -webkit-text-fill-color: black;
}

section .events ul li .time h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-110%);
    color:#fff;
    font-size:50px;
    line-height:30px;
}

section .events ul li .time h2 span{
    font-size:30px;
}

section .events ul li .details{
    padding: 0 10px 10px 10px;
    margin-bottom:5px;
    line-height:18px;
    box-sizing:border-box;
    width:70%;
    height:100%;
    float:left;
}


section .leftBox .content2{
    position:absolute;
    top: 122%;
    left: 3%;
    z-index:50;
    background-color:#090909;
    line-height:10px;
    opacity:0.75;
    padding:10px;
    transition:.5s;
}

section .leftBox .content2:hover{
    background-color:pink;
    -webkit-text-fill-color: #090909;
}



.transition-1{
    position:fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index:101;
    background-color:#212122;
    opacity:0;
    pointer-events:none;
    transition:0.5s ease-out;
}

.transition-1.is-active{
    opacity:1;
    pointer-events:all;
}

.transition-2{
    position:fixed;
    top: 0;left: -100%;bottom: 0;
    width:100%;
    z-index:101;
    background-color:#212122;
    transition:0.5s ease-out;
}

.transition-2.is-active{
 left:0px;
}

.transition-3{
    position:fixed;
    top: 100%;left: 0; right:0; bottom: 0;
    height:100%;
    z-index:101;
    background-color:#212122;
    transition:0.5s ease-out;
}

.transition-3.is-active{
 top:0px;
}

.timeline{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:10px 150px 150px 150px;
    width:100%;
    height:100%;
}

.timeline input{
    display:none;
    position: absolute;
}


.head{
    position: relative;
    width:100%;
    margin:auto;
    height:100px;
    margin-top:60px;
    animation:trans .7s linear;
}

ul.timelineset{
    padding-top:15px;
    z-index:100;
    position: absolute;
    width:100%;
    margin-top: -40px;
}

ul.timelineset li{
    list-style:none;
    float:left;
    width:25%;
    text-align:center;
    color:pink;
    font-size:20px;
    cursor:pointer;
    font-weight:700;
    transition:all .3s ease;
    vertical-align:middle;
    height:70px;
    position: relative;
}

ul.timelineset li::before{
    content:'';
    width: 25px;
    height: 25px;
    border:2px solid pink;
    border-radius:50%;
    margin:auto;
    display:block;
    transition:all .3s ease;
}

ul.timelineset li:hover::before{
    border:2px solid pink;
    background:#ad5389;
}

ul.timelineset li .inner{
    position: absolute;
    width:100%;
    bottom: 0;
    font-size:14px;
    font-weight:bolder;
}

ul.timelineset li.active, ul.timelineset li:hover{
    color:#3c1053;   
}

ul.timelineset li::after{
    content:'';
    display:block;
    width: 7px;
    height: 7px;
    background:pink;
    border-radius:50%;
    margin:auto;
    border: 7px solid #fff;
    margin-top:40px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

ul.timelineset li:hover::after, ul.timelineset li.active::after{
    background:#ad5389;
}

.line{
    width:76%;
    margin:auto;
    background:#fffcdc;
    height:7px;
    position: absolute;
    left:16%;
    top:52px;
    z-index:1;
    border-radius: 50px;
}

.line span{
    content:'';
    width:2%;
    height:100%;
    background-image:linear-gradient(to right, #cc2b5e 0%, #753a88 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition:all .8s ease;
}

.timecontent{
    position: relative;
    display:flex;
    height:200px;
    margin-left:20%;
    animation:anim .7s linear forwards;
    flex-direction:column;
}

.timecontent section{
    width:80%;
    background-image:linear-gradient(to right, #cc2b5e, #753a88);
    border-radius:4px;
    height:100%;
    padding:20px;
    margin:0;
}

.timecontent section span{
    font-size:3rem;
    display:flex;
    justify-content:center;
    margin-bottom:30px;
}

.room:checked ~ .head .timelineset li.st1::before,

.series:checked ~ .head .timelineset li.st1::before,
.series:checked ~ .head .timelineset li.st2::before,

.tumour:checked ~ .head .timelineset li.st1::before,
.tumour:checked ~ .head .timelineset li.st2::before,
.tumour:checked ~ .head .timelineset li.st3::before,

.run:checked ~ .head .timelineset li.st1::before,
.run:checked ~ .head .timelineset li.st2::before,
.run:checked ~ .head .timelineset li.st3::before,
.run:checked ~ .head .timelineset li.st4::before {
    border:2px solid #fffcdc;
    background:#fc6767;
    transition:all .3s ease;
}

.room:checked ~ .head .line .span{
    width:0%;
}

.series:checked ~ .head .line span{
    width:35%;
}
.tumour:checked ~ .head .line span{
    width:68%;
}
.run:checked ~ .head .line span{
    width:100%;
}

.timecontent .room-section, 
.timecontent .series-section,
.timecontent .tumour-section,
.timecontent .run-section{
    position:absolute;
    top:5rem;
    transform:scale(0);
    transform-origin: center bottom;
    transition:anim .7s ease;
}

.room:checked ~ .head .timecontent .room-section, 
.tumour:checked ~ .head .timecontent .tumour-section,
.series:checked ~ .head .timecontent .series-section,
.run:checked ~ .head .timecontent .run-section {
    display:block;
    transform:scale(1);
    transform-origin:center bottom;
    z-index:1000;
    transition:trans .7s ease;
}

@keyframes anim {
    0%{
        opacity:0;
        transform:translateY(-40px);
    }
    50%{
        opacity:.5;
        transform:translateY(-20px);
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}
@keyframes trans {
    0%{
        opacity:0;
        transform:translateY(40px);
    }
    50%{
        opacity:.5;
        transform:translateY(20px);
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}

