@font-face {
    font-family: Octarine;
    src: url("../content/fonts/Octarine-Light.otf");
}

@font-face {
    font-family: Octarine;
    font-weight: bold;
    src: url("../content/fonts/Octarine-Bold.otf");
}

@font-face {
    font-family: PublicaPlay;
    src: url("../content/fonts/PublicaPlay-Regular.otf");
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    svg {
        max-width: 50%;
    }
}

@media (min-width: 1920px) {
    svg {
        max-width: 25%;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Octarine, sans-serif;
}

.pink-underline {
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;
}

.pink-underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: pink;
    transition: width 0.25s ease-out;
}

.pink-underline:hover::before {
    width: 100%;
}