body {
  padding: 0;
}

#title {
  animation: colour 3.5s ease forwards 3s;
  scale: 0.7;
}

h1, h2 {
  font-family: "Roboto";
  font-weight: 800;
  stroke: 5px white;
}

.main {
  width: 100vw;
  height: 100vh;
}

.underline {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}

.underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: pink;
  transition: width 0.25s ease-out;
}

.underline:hover::before {
  width: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #212122;
}

p, li {
  font-family: "Roboto", sans-serif;
  z-index: 100;
}

.obs li {
  margin-bottom: 10px;
}

.obs li {
  margin-right: 5px;
}

.obs li:nth-child(1)::marker {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="30" height="30" viewBox="0 0 24 24"%3E%3Cg fill="white"%3E%3Cpath d="M14.217 3.5a5.17 5.17 0 0 0-4.434 0L3.092 6.637c-1.076.504-1.357 1.927-.842 2.91V14.5a.75.75 0 0 0 1.5 0v-3.828L9.783 13.5a5.17 5.17 0 0 0 4.434 0l6.691-3.137c1.456-.682 1.456-3.044 0-3.726L14.218 3.5Z"%2F%3E%3Cpath d="M5 11.258L9.783 13.5a5.17 5.17 0 0 0 4.434 0L19 11.258v5.367c0 1.008-.503 1.952-1.385 2.44C16.146 19.88 13.796 21 12 21c-1.796 0-4.146-1.121-5.615-1.935C5.504 18.577 5 17.633 5 16.625v-5.367Z" opacity=".5"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.obs li:nth-child(2)::marker {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="30" height="30" viewBox="0 0 48 48"%3E%3Cg fill="none" stroke="white" stroke-linejoin="round" stroke-width="4"%3E%3Cpath d="M13 7a3 3 0 0 1 3-3h16a3 3 0 1 1 0 6H16a3 3 0 0 1-3-3Zm.1 10.12A3 3 0 0 1 15.437 16h17.124a3 3 0 0 1 2.339 1.12l4.438 5.523a3 3 0 0 1 .661 1.88V41a3 3 0 0 1-3 3H11a3 3 0 0 1-3-3V24.523a3 3 0 0 1 .661-1.88l4.438-5.522Z"%2F%3E%3Cpath stroke-linecap="round" d="M18 30h12m-6-6v12"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.obs li:nth-child(3)::marker {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="30" height="30" viewBox="0 0 48 48"%3E%3Cpath fill="white" fill-rule="evenodd" d="M14.433 33.442a3 3 0 1 0 1.96-.416a8.972 8.972 0 0 1-.103-.405a19.627 19.627 0 0 1-.32-1.87a17.026 17.026 0 0 1-.14-1.914a6.55 6.55 0 0 1 .015-.527c.384-.11.77-.21 1.155-.297c.441-.1.703.42.914.842l.086.169h11.749c.229-.434.748-1.126 1.251-1.011c.536.122 1.075.267 1.609.433l-.003.001c-.002-.002-.002-.002 0 .002c.004.014.026.08.048.22c.025.162.042.372.05.625c.014.504-.015 1.117-.074 1.735c-.06.617-.149 1.214-.249 1.685c-.022.105-.044.2-.066.286H31a1 1 0 0 0-.894.553l-1 2A.999.999 0 0 0 29 36v2a1 1 0 0 0 1 1h2v-2h-1v-.764L31.618 35h2.764L35 36.236V37h-1v2h2a1 1 0 0 0 1-1v-2a.999.999 0 0 0-.106-.447l-1-2A1 1 0 0 0 35 33h-.636c.107-.533.196-1.155.256-1.779c.066-.674.1-1.373.083-1.983l-.001-.028C38.69 30.895 42 33.666 42 36.57V42H6v-5.43c0-3.032 3.61-5.92 7.831-7.577c.011.622.07 1.325.155 2.006c.092.735.217 1.466.355 2.068c.03.129.06.254.092.375ZM16 37.015c.538 0 1-.44 1-1.015c0-.574-.462-1.015-1-1.015s-1 .44-1 1.015c0 .574.462 1.015 1 1.015ZM24 24a8 8 0 1 0 0-16a8 8 0 0 0 0 16Zm0 2c5.523 0 10-4.477 10-10S29.523 6 24 6s-10 4.477-10 10s4.477 10 10 10Z" clip-rule="evenodd"%2F%3E%3C%2Fsvg%3E');
}

.obs li:nth-child(4)::marker {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="30" height="30" viewBox="0 0 512 512"%3E%3Cpath fill="white" d="M333.78 20.188c-39.97 0-79.96 15.212-110.405 45.656c-58.667 58.667-60.796 152.72-6.406 213.97l-15.782 15.748l13.25 13.25l15.75-15.78c61.248 54.39 155.3 52.26 213.968-6.407c60.887-60.886 60.888-159.894 0-220.78C413.713 35.4 373.753 20.187 333.78 20.187zm0 18.562c35.15 0 70.285 13.44 97.158 40.313c53.745 53.745 53.744 140.6 0 194.343c-51.526 51.526-133.46 53.643-187.5 6.375l.218-.217c-2.35-2.05-4.668-4.17-6.906-6.407c-2.207-2.206-4.288-4.496-6.313-6.812l-.218.22c-47.27-54.04-45.152-135.976 6.374-187.502C263.467 52.19 298.63 38.75 333.78 38.75zm0 18.813c-30.31 0-60.63 11.6-83.81 34.78c-46.362 46.362-46.362 121.234 0 167.594c10.14 10.142 21.632 18.077 33.905 23.782c-24.91-19.087-40.97-49.133-40.97-82.94c0-15.323 3.292-29.888 9.22-43c-4.165 20.485.44 40.88 14.47 54.907c24.583 24.585 68.744 20.318 98.624-9.562c29.88-29.88 34.146-74.04 9.56-98.625a52.379 52.379 0 0 0-7.655-6.313c45.13 8.648 79.954 46.345 84.25 92.876c4.44-35.07-6.82-71.726-33.813-98.72c-23.18-23.18-53.47-34.78-83.78-34.78zM176.907 297.688L42.094 432.5l34.562 34.563L211.47 332.25l-34.564-34.563zM40 456.813L24 472.78L37.22 486l15.968-16L40 456.812z"%2F%3E%3C%2Fsvg%3E');
}

.subtitle {
  color: pink;
  font-weight: bold;
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bold;
}

nav ul li a:hover {
  color: pink;
  transition: 0.3s;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#title path:nth-child(1) {
  stroke-dasharray: 396.5463867188px;
  stroke-dashoffset: 396.5463867188px;
  animation: line-anim 2.7s ease forwards;
}

#title path:nth-child(2) {
  stroke-dasharray: 366.313659668px;
  stroke-dashoffset: 366.313659668px;
  animation: line-anim 2.7s ease forwards 0.3s;
}

#title path:nth-child(3) {
  stroke-dasharray: 331.1268005371px;
  stroke-dashoffset: 331.1268005371px;
  animation: line-anim 2.7s ease forwards 0.6s;
}

#title path:nth-child(4) {
  stroke-dasharray: 174.8000335693px;
  stroke-dashoffset: 174.8000335693px;
  animation: line-anim 2.7s ease forwards 0.9s;
}

#title path:nth-child(5) {
  stroke-dasharray: 388.8003845215px;
  stroke-dashoffset: 388.8003845215px;
  animation: line-anim 2.7s ease forwards 1.2s;
}

#title path:nth-child(6) {
  stroke-dasharray: 243.6000671387px;
  stroke-dashoffset: 243.6000671387px;
  animation: line-anim 2.7s ease forwards 1.5s;
}

#title path:nth-child(7) {
  stroke-dasharray: 363.0000305176px;
  stroke-dashoffset: 363.0000305176px;
  animation: line-anim 2.7s ease forwards 1.8s;
}

#title path:nth-child(8) {
  stroke-dasharray: 363.0000305176px;
  stroke-dashoffset: 363.0000305176px;
  animation: line-anim 2.7s ease forwards 2.1s;
}

#title path:nth-child(9) {
  stroke-dasharray: 363.1209106445px;
  stroke-dashoffset: 363.1209106445px;
  animation: line-anim 2.7s ease forwards 2.4s;
}

#title path:nth-child(10) {
  stroke-dasharray: 340.8392333984px;
  stroke-dashoffset: 340.8392333984px;
  animation: line-anim 2.7s ease forwards 2.7s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes colour {
  from {
    fill: transparent;
  }
  to {
    fill: #FFFef2;
  }
}
.box {
  background-color: #212122;
  opacity: 0.8;
  padding: 1em;
  border: 5px solid white;
  color: white;
  width: 50em;
  position: absolute;
  z-index: 50;
  top: 111%;
  left: 2%;
  max-width: 35%;
}

.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: #212122;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
}

.transition-2 {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  z-index: 101;
  background-color: #212122;
  transition: 0.5s ease-out;
}

.transition-2.is-active {
  left: 0px;
}

.transition-3 {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 101;
  background-color: #212122;
  transition: 0.5s ease-out;
}

.transition-3.is-active {
  top: 0px;
}/*# sourceMappingURL=styles.css.map */